.autentificare
{
    background-image: url('/assets/images/inregistrare.jpg');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; 

}

.view
{
    height: 100vh !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 40px;
    margin-left: 200px;
    margin-top: 3rem!important;

}


.div-autentificare
{
    
    font-size: 1vw !important;
    height: 20vw;
    
    margin-top: 70px;
    
    left:auto;
    border-radius: 20px;
    text-align: center;
}

i
{
    margin-right: 25px;
    font-size: 25px;
}

input
{
    font-size: 17px;
}

.title
{
    font-size: 1.2vw;
    color: white;
}

.cont
{
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-left: 12vw;
}

.inregistrare:hover{
    background-color: black;
    color:white;
}
.buton{
    background-color: red;
    color:white;
}
.buton:hover
{
    background-color: black;
    color:white;
}