.bg1 { 
    /* The image used */
    /*background-image: url('/assets/images/rezervari.jpg');*/
  
    /* Full height */
    object-fit: cover;

    margin-top:30px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

 
.view
{ 
    width: 1100px;
    object-fit: cover;
    margin-top: 100px;
    margin-right: 40px;
    margin-left: 40px;
    border-radius: 20px;
    text-align: center;
    background-color: #91bdd9;
    color: black;
    margin-bottom: 50px;
}
.vizualizare
{
    width: max-content;
    margin-top: 20px;
    object-fit: cover;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 40px;
    margin-left: 200px;
    margin-top: 3rem!important;
}
.flex-content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.flex-container{
    border: double rgb(39, 24, 124);
    border-radius: 10px;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

.div-img
{
    margin:50px;
}
.div-price
{
    
    width: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.div-name
{
    width: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


.button-rezervare
{
    margin-top:20px;
    background-color: #0045cf;
    color:white;
}

.button-rezervare:hover
{
    background-color: red;
}
.detalii
{
    margin-top:50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.detalii>div
{
    margin-top:40px;
    margin-right: 60px;
    margin-left: 60px;
}

.div-rez
{
    margin-top:40px;
    width: 60px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

